
.cs-carousel {

    $selector: &;
    $zindex-carousel-arrow: 110;
    $zindex-carousel-backdrop: 100;

    position: relative;

    .no-transition {
        transition: none;
    }

    &__inner {
        overflow: hidden;
        position: relative;
    }

    &__wrap {
        //overflow: hidden;
        flex-wrap: nowrap;
        transition: transform 0.3s;
    }

    &__item {
        display: flex;
        justify-content: center;
    }
    
    @include media-breakpoint-only(sm) {
        &--sm-4 &__item {
            width: (100 * 0.25%);
        }
    }
}