<div class="cs-carousel js-carousel-gallery"
	 data-options='{"viewport":{"md": 3, "sm": 2, "xs": 1}, "offset": {"md": 1}, "autoplay": true}'>
	<div class="cs-carousel__inner backdrop p-3 bg-dark">
		<div class="row cs-carousel__wrap gx-5 js-carousel-gallery__wrap">
			<div class="col-md-6 col-sm-9 col-18 cs-carousel__item js-carousel-gallery__item">
				<div class="card cs-card">
					<div class="card-img cs-card-overlay-img"
						 style="background-image: url('/images/no_risk_bet.webp')"></div>
					<div class="card-img-overlay text-uppercase vstack">
						<div class="card-title cs-card-title h5 align-content-center">Заголовок карточки</div>
						<div class="card-text fw-medium">С вспомогательным текстом ниже в качестве естественного
							перехода к дополнительному контенту.
						</div>
						<a href="#" class="btn btn-sm btn-success mt-auto mb-2 align-self-start">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-9 col-18 cs-carousel__item js-carousel-gallery__item">
				<div class="card cs-card">
					<div class="card-img cs-card-overlay-img"
						 style="background-image: url('/images/instagram_bonus.webp')"></div>
					<div class="card-img-overlay text-uppercase vstack">
						<div class="card-title cs-card-title h5 align-content-center">Подключайся и получай награды
						</div>
						<div class="card-text fw-medium">
							Подключайся к Whatsapp, Instagram, Telegram и получи подарок!
						</div>
						<a href="#" class="btn btn-sm btn-success mt-auto mb-2 align-self-start">Детали</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-9 col-18 cs-carousel__item js-carousel-gallery__item">
				<div class="card cs-card">
					<div class="card-img cs-card-overlay-img"
						 style="background-image: url('/images/footbal_bonus.webp')"></div>
					<div class="card-img-overlay text-uppercase vstack">
						<div class="card-title cs-card-title h5 align-content-center">Ставки на спорт в Mostbet</div>
						<div class="card-text fw-medium">
							Ставь на любимые команды и выигрывай!
						</div>
						<a href="#" class="btn btn-sm btn-success mt-auto mb-2 align-self-start">Сделать ставку</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-9 col-18 cs-carousel__item js-carousel-gallery__item">
				<div class="card cs-card">
					<div class="card-img cs-card-overlay-img"
						 style="background-image: url('/images/welcome_bonus.webp')"></div>
					<div class="card-img-overlay text-uppercase vstack">
						<div class="card-title cs-card-title h5 align-content-center">Приветственный Бонус</div>
						<div class="card-text fw-medium">Получи 125% бонус и 250 фриспинов при первом пополнении</div>
						<a href="#" class="btn btn-sm btn-success mt-auto mb-2 align-self-start">Получить бонус</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-9 col-18 cs-carousel__item js-carousel-gallery__item">
				<div class="card cs-card">
					<div class="card-img cs-card-overlay-img"
						 style="background-image: url('/images/free_spins.webp')"></div>
					<div class="card-img-overlay text-uppercase vstack">
						<div class="card-title cs-card-title h5 align-content-center">Еженедельный Кешбек</div>
						<div class="card-text fw-medium">Верни до 10% от проигранных средств</div>
						<a href="#" class="btn btn-sm btn-success mt-auto mb-2 align-self-start">Получить кешбэк</a>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-indicators">
			<button type="button" data-index="0" class="indicator js-carousel-gallery__point active"></button>
			<button type="button" data-index="1" class="indicator js-carousel-gallery__point"></button>
			<button type="button" data-index="2" class="indicator js-carousel-gallery__point"></button>
			<button type="button" data-index="3" class="indicator js-carousel-gallery__point"></button>
			<button type="button" data-index="4" class="indicator js-carousel-gallery__point"></button>
		</div>
		<!--<ol class="slider-points carousel-box__slider-points">
			<li class="js-carousel-gallery__point active" data-index="0"></li>
			<li class="js-carousel-gallery__point" data-index="1"></li>
			<li class="js-carousel-gallery__point" data-index="2"></li>
			<li class="js-carousel-gallery__point" data-index="3"></li>
			<li class="js-carousel-gallery__point" data-index="4"></li>
		</ol>-->
	</div>
</div>