<ul class="nav nav-tabs nav-fill gap-1 d-none d-sm-flex">
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center active" id="home-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-home" href="#">
			<i class="casino-popular"></i>
			Салют
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="website-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-website" href="#">
			<i class="casino-casino"></i>
			Вебсайт
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="bonuses-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-bonuses" href="#">
			<i class="casino-bonus"></i>
			Бонусы
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="games-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-games" href="#">
			<i class="casino-slots"></i>
			Игры
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="register-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-register" href="#">
			<i class="casino-instant"></i>
			Регистрация
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="payments-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-payments" href="#">
			<i class="casino-cashier"></i>
			Платежи
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="support-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-support" href="#">
			<i class="casino-support"></i>
			Поддержка
		</a>
	</li>
</ul>

<div class="tab-content">
	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link  icon-link px-4 active" href="#" data-emulation-tab="#home-tab"><i class="casino-popular"></i>Салют</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary active" id="tab-content-home" role="tabpanel"
		 aria-labelledby="home-tab"
		 tabindex="0">
		<div>
			<p>Mostbet Casino — это ведущая онлайн-платформа, которая с 2009 года предлагает своим пользователям широкий
				спектр азартных игр и спортивных ставок. Будучи лицензированным оператором, Mostbet гарантирует
				безопасность
				и честность игрового процесса, привлекая игроков со всего мира благодаря высококачественному сервису и
				разнообразным бонусным предложениям.
			<h1>История и лицензия букмекера Mostbet h1</h1>
			<p>Основанное в 2009 году, Mostbet быстро завоевало популярность благодаря своему инновационному подходу и
				надежности. Казино действует под лицензией правительства Кюрасао. </p>
			<h2>История и лицензия букмекера Mostbet h2</h2>
			<p>Наличие лицензии Кюрасао означает, что Mostbet Casino обязано соблюдать ряд требований, включая защиту
				данных
				пользователей с использованием современных технологий шифрования SSL</p>
			<h3>Ставки на спортивные события h3</h3>
			<p>Mostbet Casino предлагает своим пользователям огромный выбор спортивных мероприятий для ставок.</p>
			<h4>Разнообразие игр и бонусов h4</h4>
			<p>Платформа Mostbet предлагает более 3000 игр от ведущих мировых провайдеров, таких как Iron Dog, Mancala,
				и
				Spinomenal. В дополнение к широкому выбору слотов, пользователи могут насладиться настольными играми,
				лотереями и живыми дилерами. Платформа регулярно обновляет свои бонусные предложения, предоставляя новые
				возможности для выигрыша и участия в различных акциях и турнирах.</p>
		</div>

	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#website-tab"><i class="casino-casino"></i>Вебсайт</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-website" role="tabpanel"
		 aria-labelledby="website-tab"
		 tabindex="0">
		<div>
			<p>Вебсайт контент</p>
			<form>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Пароль</label>
					<input type="password" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Проверить меня</label>
				</div>
				<button type="submit" class="btn btn-success">Отправить</button>
			</form>
		</div>
	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#bonuses-tab"><i class="casino-bonus"></i>Бонусы</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-bonuses" role="tabpanel"
		 aria-labelledby="bonuses-tab"
		 tabindex="0">
		<div>Бонусы контент</div>
	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#games-tab"><i class="casino-slots"></i>Игры</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-games" role="tabpanel"
		 aria-labelledby="games-tab" tabindex="0">
		<div>Игры контент</div>
	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#register-tab"><i class="casino-instant"></i>Регистрация</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-register" role="tabpanel"
		 aria-labelledby="register-tab"
		 tabindex="0">
		<div>Регистрция контент</div>
	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#payments-tab"><i class="casino-cashier"></i>Платежи</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-payments" role="tabpanel"
		 aria-labelledby="payments-tab"
		 tabindex="0">
		<p>Casino Mostbet предлагает разнообразные методы пополнения и вывода средств, обеспечивая удобство для всех
			пользователей. В зависимости от вашего местоположения, доступны как фиатные, так и криптовалютные методы.
			Ниже представлена таблица со списком возможных методов пополнения и вывода средств, а также их лимитами.</p>
		<h2>Таблица методов пополнения и вывода средств</h2>
		<div class="table-responsive">
			<table class="table table-bordered table-dark table-striped table-hover">
				<tbody>
				<tr>
					<th>Метод</th>
					<th>Мин. депозит</th>
					<th>Макс. депозит</th>
					<th>Мин. вывод</th>
					<th>Макс. вывод</th>
				</tr>
				<tr>
					<td>Visa / MasterCard</td>
					<td>300 ₽</td>
					<td>150 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Мобильный банк <br> (Сбербанк, Альфа-банк, Тинькофф)</td>
					<td>500 ₽</td>
					<td>50 000 ₽</td>
					<td>500 ₽</td>
					<td>50 000 ₽</td>
				</tr>
				<tr>
					<td>Перевод на карту <br> (Visa, MasterCard, МИР)</td>
					<td>500 ₽</td>
					<td>150 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Перевод по номеру (СБП)</td>
					<td>1000 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>50 000 ₽</td>
				</tr>
				<tr>
					<td>Paytm</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Google Pay</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Amazon Pay</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>AstroPay</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>ecoPayz</td>
					<td>700 ₽</td>
					<td>∞</td>
					<td>700 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Piastrix</td>
					<td>100 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Freecharge</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>MobiKwik</td>
					<td>300 ₽</td>
					<td>50 000 ₽</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Bitcoin</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Ethereum</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Litecoin</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Ripple</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Dogecoin</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Tron</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>Binance</td>
					<td>1000 ₽</td>
					<td>∞</td>
					<td>1000 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>DAI</td>
					<td>1350 ₽</td>
					<td>∞</td>
					<td>1350 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>TrueUSD (TUSD)</td>
					<td>1350 ₽</td>
					<td>∞</td>
					<td>1350 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>USD Coin (USDC)</td>
					<td>1350 ₽</td>
					<td>∞</td>
					<td>1350 ₽</td>
					<td>∞</td>
				</tr>
				<tr>
					<td>P2P Prompt</td>
					<td>100 ₽</td>
					<td>50 000 ₽</td>
					<td>100 ₽</td>
					<td>50 000 ₽</td>
				</tr>
				</tbody>
			</table>
		</div>

		<h3>Принимаемые валюты</h3>
		<p>Mostbet Casino поддерживает широкий выбор валют, включая: RUB, USD, EUR, VND, TND, SAR, PKR, NPR, MAD, LKR,
			KWD, EGP, BDT, AED, CLP, PEN, AMD, UZS, AZN, COP, KGS, BYN, THB, INR, KZT, CZK, UAH, MXN, BRL, TRY, HUF,
			PLN, CAD, SEK, NOK.</p>
		<p>Платформа Mostbet обеспечивает быстрые и удобные финансовые операции, позволяя пользователям выбирать
			наиболее подходящие для них методы пополнения и вывода средств. Все транзакции защищены и выполняются без
			комиссии, что делает процесс управления средствами максимально комфортным. Казино также предлагает удобные
			способы пополнения через российские банки, платёжные карты, P2P переводы и другие методы, чтобы обеспечить
			максимальную гибкость и удобство для своих пользователей.</p>
	</div>

	<div class="nav nav-tabs nav-fill mt-1 d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link px-4" href="#" data-emulation-tab="#support-tab"><i class="casino-support"></i>Поддержка</a>
		</div>
	</div>
	<div class="tab-pane rounded-bottom-2 p-4 bg-secondary" id="tab-content-support" role="tabpanel"
		 aria-labelledby="support-tab"
		 tabindex="0">
		<div class="container">Поддержка контент</div>
	</div>
</div>