<ul class="nav nav-tabs nav-fill gap-1 d-none d-sm-flex">
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center active" id="home-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-home" href="#">
			<i class="casino-popular"></i>
			Салют
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="website-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-website" href="#">
			<i class="casino-casino"></i>
			Вебсайт
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="bonuses-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-bonuses" href="#">
			<i class="casino-bonus"></i>
			Бонусы
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="games-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-games" href="#">
			<i class="casino-slots"></i>
			Игры
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="register-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-register" href="#">
			<i class="casino-instant"></i>
			Регистрация
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="payments-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-payments" href="#">
			<i class="casino-cashier"></i>
			Платежи
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link icon-link justify-content-center" id="support-tab" data-bs-toggle="tab"
		   data-bs-target="#tab-content-support" href="#">
			<i class="casino-support"></i>
			Поддержка
		</a>
	</li>
</ul>

<div class="tab-content">
	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link  icon-link active" href="#" data-emulation-tab="#home-tab"><i class="casino-popular"></i>Салют</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary active" id="tab-content-home" role="tabpanel" aria-labelledby="home-tab"
		 tabindex="0">
		<p>Mostbet Casino — это ведущая онлайн-платформа, которая с 2009 года предлагает своим пользователям широкий
			спектр азартных игр и спортивных ставок. Будучи лицензированным оператором, Mostbet гарантирует безопасность
			и честность игрового процесса, привлекая игроков со всего мира благодаря высококачественному сервису и
			разнообразным бонусным предложениям.
		<h1>История и лицензия букмекера Mostbet h1</h1>
		<p>Основанное в 2009 году, Mostbet быстро завоевало популярность благодаря своему инновационному подходу и
			надежности. Казино действует под лицензией правительства Кюрасао. </p>
		<h2>История и лицензия букмекера Mostbet h2</h2>
		<p>Наличие лицензии Кюрасао означает, что Mostbet Casino обязано соблюдать ряд требований, включая защиту данных
			пользователей с использованием современных технологий шифрования SSL</p>
		<h3>Ставки на спортивные события h3</h3>
		<p>Mostbet Casino предлагает своим пользователям огромный выбор спортивных мероприятий для ставок.</p>
		<h4>Разнообразие игр и бонусов h4</h4>
		<p>Платформа Mostbet предлагает более 3000 игр от ведущих мировых провайдеров, таких как Iron Dog, Mancala, и
			Spinomenal. В дополнение к широкому выбору слотов, пользователи могут насладиться настольными играми,
			лотереями и живыми дилерами. Платформа регулярно обновляет свои бонусные предложения, предоставляя новые
			возможности для выигрыша и участия в различных акциях и турнирах.</p>
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#website-tab"><i class="casino-casino"></i>Вебсайт</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-website" role="tabpanel" aria-labelledby="website-tab"
		 tabindex="0">Вебсайт контент
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#bonuses-tab"><i class="casino-bonus"></i>Бонусы</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-bonuses" role="tabpanel" aria-labelledby="bonuses-tab"
		 tabindex="0">Бонусы контент
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#games-tab"><i class="casino-slots"></i>Игры</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-games" role="tabpanel" aria-labelledby="games-tab" tabindex="0">
		Игры контент
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#register-tab"><i class="casino-instant"></i>Регистрация</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-register" role="tabpanel" aria-labelledby="register-tab"
		 tabindex="0">Регистрция контент
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#payments-tab"><i class="casino-cashier"></i>Платежи</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-payments" role="tabpanel" aria-labelledby="payments-tab"
		 tabindex="0">Платежи контент
	</div>

	<div class="nav nav-tabs nav-fill d-sm-none">
		<div class="nav-item">
			<a class="nav-link icon-link" href="#" data-emulation-tab="#support-tab"><i class="casino-support"></i>Поддержка</a>
		</div>
	</div>
	<div class="tab-pane bg-secondary" id="tab-content-support" role="tabpanel" aria-labelledby="support-tab"
		 tabindex="0">Поддержка контент
	</div>
</div>